@model List<Bank_System.Models.ClientModel>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div display="inline-block">
    <h2>Clients</h2>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Form", "Clients")'">Add</button>
</div>

<table class="table-hover table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Second name</th>
        <th scope="col">Middle name</th>
        <th scope="col">Id number</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var client in Model)
            {
                <tr class="">
                    <td>@client.Name</td>
                    <td>@client.SecondName</td>
                    <td>@client.MiddleName</td>
                    <td>@Html.ActionLink(client.IdNumber, "Form", "Clients", new { id = client.Id }, new { @class = "dropdown-toggle"})</td>                    
                </tr>
            }
        }
    </tbody>
</table>
